@import './base.css';

@font-face { font-family: EldenFont; 
  src: url('OptimusPrinceps.ttf'); } 

@font-face { font-family: EldenTitleFont; 
  src: url('MantiniaRegular.otf'); } 

#app {
  font-family: EldenFont;
  font-size:1.2rem;
  font-weight: normal;
  padding: 0;
  margin:0;
  width:100%;
}

.greytransparent {
  padding-top:3rem;
  background-color:#212121c4;
  min-height:90vh;
}

body {
    margin:0;
    padding:0;
}
html {
    width:100%;
}
main {
  margin:0;
  width:100%;
  min-height:90vh;
}
a,
.gold {
  text-decoration: none;
  color: #C19D53;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(52, 67%, 13%);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}
